#toolbar-item-paragraphs-tray .toolbar-menu-administration {
  padding-right: 20%;
}

.toolbar .toolbar-bar .toolbar-icon-paragraphs:before {
  background-image: url(/core/themes/stable/images/core/icons/bebebe/cog.svg);
}

.toolbar-bar .toolbar-icon-paragraph:active:before,
.toolbar-bar .toolbar-icon-paragraph.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/ffffff/cog.svg);
}
